.calculator {
  width: 320px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 100px;
}

.display {
  background-color: #7a7878;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 10px;
  grid-column: span 4;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #afacac;
}

.button {
  width: 100%;
  height: 40px;
  background-color: #9e9999;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:last-child {
  color: #333;
  background-color: orange;
}

.button.large {
  grid-column: span 2;
}

.orange {
  background-color: orange;
}
